*{
  margin: 0px;
  padding:0px;
}

.menu {
  background-size: cover;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: max-content;
}

.menu > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  position: relative;
  padding: 1%;
}

.menu > ul > li > a {
  color: white;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 6px;
  transition: 1.5s; 
  text-decoration: none;
}

@media (max-width: 1024px){
  .menu > ul > li > a{
    font-size: 40px;
  }
}

.menu > ul > li > a:hover {
  color: yellow;
  border-bottom: 3px solid green;
  border-top: 3px solid green;
}

/*----------------------menu-------------------------------*/

#backgroundIntro {
  background-image: url('Yellow.png');
  background-size: cover;
  height: 100vh;
}

.h1 {
  color: rgb(3, 70, 3);
  font-size: 500%;
  position: relative;
  text-align: right;
  top: 40%;
  left: 0;
  width: 85%;
  height: 30%;
  padding: 0;
}

.h1 > div {
  background-color: rgb(3, 70, 3);
  color: white;
  font-size: 50%;
  padding-right: 30px;
}

#picIntro {
  top: 40%;
  left: 5%;
  position: absolute;
  width: 200px;
  height: 250px;
}

@media (max-width: 1024px) {
  #picIntro{
    left: 0;
    width: 200px;
    height: 250px;
  }
}

/* ----------------------page 1-------*/
#aboutMe {
  background-image: url('pic1.png');
  background-size: cover;
  text-align: center;
}

.subBack {
  background-color: rgba(0, 0, 0, 0.3);
  width: 70%;
  margin-left: 15%;
}

.subBack > .title {
  padding-top: 30%;
}

.subBack > .title > #h1 {
  font-size: 40px;
  background-color: aliceblue;
  text-align: right;
  padding-right: 18%;
  box-sizing: border-box;
}

.pic {
  position: absolute;
  width: 16%;
  margin-top: 5%;
  left: 30%;
  z-index: 1;
}


.row {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
  position: relative;
  padding-bottom: 20%;
}

.rowContent {
  width: 200px;
  border-radius: 12px;
  padding: 1%;
  background-color: white;
}

@media (max-width: 1024px) {
  .row {
    flex-direction: column;
    font-size: 30px;
  }

  .rowContent {
    align-self: center;
    margin-bottom: 10%;
    width: 500px;
  }

  .subBack > .title > #h1 {
    font-size: 60px;
  }
}

/*----------------------page 2 -------------*/
 
#work {
   background-size: cover;
   background-image: url('https://i.pinimg.com/564x/d8/b4/ea/d8b4ea55c1683252b734b9655eb11ff6.jpg');
   text-align: center;
 }

 .content{
   margin-left: 10%;
   width: 80%;
   height: 100%;
   background-color: rgba(17, 17, 17, 0.3);
 }

 .content > .titlePage3 {
  padding-top: 15%;
 }

 .content > .titlePage3 > #contentPage3 {
   position: relative;
   color: black;
   font-size: 40px;
   background-color: white;
   width: 100%;
   top: 10%;
   padding: 5px;
   box-sizing: border-box;
 }

.projects {
  padding-top: 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-bottom: 10%;
}

.projects > .projectsItem {
  width: max-content;
}

.image {
  width: 166px;
  height: 220px;
}

.role {
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 2px;
  width: 166px;
  font-size: 20px;
  height: max-content;
  background-color: aliceblue;
  cursor: pointer;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .content > .titlePage3 > #contentPage3{
    font-size: 60px;
    box-sizing: border-box;
  }

  .projects {
    flex-direction: column;
  }

  .projectsItem {
    padding-bottom: 10%;
    align-self: center;
  }

  .image {
    width: 300px;
    height: 400px;
  }

  .role {
    width: 300px;
    padding: 5%;
    font-size: 30px;
  }
}

.role:hover {
  background-color: rgba(5, 102, 5, 0.89);
  color: white;
  transition: 1s;
}

/*------------------------page 3----------------------------*/

#contactInfor {
  background-image: url('https://www.abc.net.au/news/image/7784822-3x2-220x147.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.subBackgr {
  width: 50%;
  height: 100%;
  background-color:rgba(17, 17, 17, 0.3) ;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.subBackgr > h1 {
  position: relative;
  top: 10%;
  background-color: white;
  color: black;
  font-size: 300%;
}

.contactBox {
  padding-top: 20%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20%;
}

.contactBox > div {
  font-size: 20px;
  color: white;
  margin-top: 10%;
}

@media (max-width: 1024px) {
  .subBackgr {
    width: 80%;
  }

  .contactBox > div{
    font-size: 40px;
  }
}
